# Backend Configuration
PORT=8271

# MongoDB Connection String (Local or Atlas)
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/rfid?retryWrites=true&w=majority

# MQTT Configuration
MQTT_BROKER=mqtt://broker.hivemq.com
MQTT_TOPIC_PREFIX=rfid/your_name/

# CORS - Add your local frontend URL
ALLOWED_ORIGINS=http://localhost:9270
